.panda-background-color{
    background-color: #fceae8;
}
.button-color{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
}
.watch-color{
    background-image: linear-gradient(to bottom, #FF9C35 0%, #FFD019 100%);

}
.bag-color{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}
.shoe-color{
    background-image: linear-gradient(to bottom, #4289FF 0%, #3F07F8 100%);
}
.categories img{
    width: 100px;
}
